/* Colors
---------------------------*/
$font-color: #333;
// $link-color : #0056b3;
$body-color: #333;            


/* Fonts
---------------------------*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
$primary-font: 'Raleway', sans-serif;



